<section id="main_container">
  <section id="formulario">
    <input type="number" [(ngModel)]="lat">
    <input type="number" [(ngModel)]="lng">
    <input type="number" [(ngModel)]="raio">
    <h1>{{lat}}</h1>
    <h1>{{lng}}</h1>
    <h1>{{raio}}</h1>
    <button (click)="listar()" >Meu guri</button>

    <ul>
      <li *ngFor="let bus of listLinhas" value="bus" (click)="changeLinha(bus)">
        {{bus.idlinha}} - {{bus.nome}}
      </li>
    </ul>

  </section>
  <section id="map">
    <agm-map [latitude]="lat" (mapClick)="buscarCoords($event)" [longitude]="lng" [zoom]="zoom">

      <agm-circle [latitude]="lat" [longitude]="lng" [radius]="raio" [circleDraggable]="true"
        [editable]="true" (radiusChange)="radiusChange($event)" (centerChange)="centerChange($event)">
      </agm-circle>

      <agm-direction [waypoints]="waypoints" [origin]="origin" [destination]="destination">
      </agm-direction>

    </agm-map>
  </section>
</section>