<section id="main_container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button id="map" mat-icon-button [matMenuTriggerFor]="menu"><i class="material-icons">menu</i></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink='/cliente'>Cadastro de Cliente</button>
        <button mat-menu-item routerLink='/linhaOnibus'>Cadastro de Linhas de Ônibus</button>
        <button mat-menu-item routerLink='/procurarLinhas'>Procura Linhas de Ônibus</button>
      </mat-menu>
      <span>Transporte</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <section class="container">
    <router-outlet></router-outlet>
  </section>
</section>