<section id="container_principal_cliente">
  <div id="formulario">
    <h3>Cadastro de Linhas de Ônibus</h3>
    <form class="example-form">
      <mat-form-field class="element2">
        <input matInput placeholder="ID linha" [(ngModel)]="baseObject.idLinha" name="idlinha">
      </mat-form-field>
      <mat-form-field class="element2">
        <input matInput placeholder="Código" [(ngModel)]="baseObject.codigo" name="codigo">
      </mat-form-field>
      <mat-form-field class="element1">
        <input matInput placeholder="Nome linha" [(ngModel)]="baseObject.nome" name="nome">
      </mat-form-field>
      <mat-form-field class="element1">
        <textarea matInput placeholder="Coordenadas" name="coordenada"></textarea>
        <li matInput placeholder="Coordenadas" name="coordenada" *ngFor="let coordinate of baseObject.location.coordinates">
            {{coordinate.x}}, {{coordinate.y}}
        </li>
      </mat-form-field>
      <div>
        <button mat-raised-button (click)="save()" color="primary">Salvar</button>
        <button mat-raised-button color="warn">Cancelar</button>
        <button mat-raised-button (click)="adicionarCoords()" color="primary">Adicionar</button>
      </div>
    </form>
  </div>

  <div id="container_map">
    <agm-map (mapClick)="buscarCoords($event)" [zoom]="zoom" [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="this.coordenadaBuscada.x" [longitude]="this.coordenadaBuscada.y"></agm-marker>
    </agm-map>
  </div>
</section>